<app-loading *ngIf="!user"></app-loading>
<div class="form-title"><i class="fas fa-user"></i> Mostrar Usuario</div>
<div *ngIf="user" class="row animated fadeInDown">
  <div class="col-lg-6 text-center">
    <img class="img-fluid" [src] = "user.image | noImage" alt = "Imagen Usuario">
  </div>
  <div class="col-lg-6">
    <div class = "presentation-field">
      <div>
        {{ user.name }}
      </div>
      <span><i class="fas fa-user-tag"></i> Nombre</span>
    </div>
    <div class = "presentation-field">
      <div>
        {{ user.username }}
      </div>
      <span><i class="fas fa-tag"></i> Usuario</span>
    </div>
    <div class = "presentation-field">
      <div>
        {{ user.authority.alias }}
      </div>
      <span><i class="fas fa-user-cog"></i> Rol</span>
    </div>
    <div>
      <label class="badge"
            [ngClass]="user.enabled? 'badge-success': 'badge-danger'">{{ user.enabled | changeBoolean: ['Habilitado', 'Inhabilitado'] }}</label>
    </div>
    <div>
      <button (click) = "openEdit()" type="button" class="btn btn-outline-info btn-block mt-3"><i class="fas fa-user-edit"></i> Editar</button>
    </div>
  </div>
</div>
