<!-- Modal -->
<div class="modal fade" id="changePasswordModal" data-backdrop="static" tabindex="-1" role="dialog"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content bg-twitter">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Cambiar contraseña a {{ user?.name }}</h5>
        <button (click) = "reset()" type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form [formGroup]="form" (ngSubmit) = "changePassword()">
        <div class="modal-body">
          <div class="form-group">
            <label>Nueva contraseña</label>
            <input class="form-control bg-twitter-light" formControlName = "password" type="password" placeholder="Escriba la nueva contraseña">
            <div *ngIf="hasRequiredError('password')" class="animated fadeInLeft text-danger w-100 text-right">
              <small>{{ requiredFieldMessage }}</small></div>
          </div>
          <div class="form-group">
            <label>Repita la contraseña</label>
            <input class="form-control bg-twitter-light" type="password"
              placeholder="Escriba nuevamente la nueva contraseña" formControlName = "repeatPassword">
              <div *ngIf="hasRequiredError('repeatPassword')" class="animated fadeInLeft text-danger w-100 text-right">
                <small>{{ requiredFieldMessage }}</small></div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" (click) = "reset()" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i>
            Cancelar</button>
          <button class="btn" (click) = "changePassword()" [disabled] = "!form.valid || saving" [ngClass] = "!form.valid? 'btn-danger' : 'btn-primary'" type="button"><i class="fa fa-save"
            [ngClass]="{'fa-sync fa-spin': saving}"></i> Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>